.anchor {
	text-decoration: underline;
	font-weight: bold;
	cursor: pointer;
	display: block;
}
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}

.sendButton {
  display: block;
  font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}

button.gwt-Button, #wrapper button.gwt-Button {
	background: transparent url(icons/back_normal.gif) repeat-x;
    border: solid 1px #d3d4d6;
    outline: none;
    vertical-align: baseline;
    text-decoration: none;
    cursor: pointer;
    color: #1e7ec8;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    height: 24px;
    font: normal 12px arial, helvetica, verdana, sans-serif;
    white-space: nowrap;
    padding: 0 5px;
}